@media screen and (max-width: 600px) {
  html {
    font-size: calc(1vw / 4.14);
  }
  body {
    overflow-x: hidden;
  }
  .arrow_left {
    display: none;
  }
  .arrow_right {
    display: none;
  }
  .header {
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    height: 160rem;
    padding: 0 10rem 0 20rem;
  }
  .header_logo {
    width: 66rem;
  }
  .emergency_buttons {
    display: flex;
    padding-left: 35rem;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 88rem;
  }
  .header_navigation {
    display: none;
  }
  .adaptiv_navigation {
    justify-self: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49rem;
    height: 29rem;
  }
  .adaptiv_navigation_box {
    width: 49rem;
    height: 5rem;
    background-color: #fb7520;
    border-radius: 50rem;
  }
  .header__links-list {
    display: none;
    flex-direction: column;
    position: relative;
    background-color: #333;
  }
  .graphics_fix {
    display: none;
  }
  .header__links-list.active {
    display: flex;
  }
  .title {
    margin-top: -60rem;
    padding: 0 0 20rem 7rem;
    font-size: 65rem;
  }
  .description {
    margin-top: -30rem;
    padding-top: 9rem;
    width: 392rem;
    height: 40rem;
  }
  .description_help {
    top: -2rem;
    font-size: 20rem;
  }
  .flowers {
    top: 180rem;
  }
  .flowers_callalily {
    width: 400rem;
    left: -40rem;
    top: 400rem;
  }
  .flowers_dahlia {
    width: 697rem;
    left: -170rem;
    top: 80rem;
  }
  .flowers_rose {
    width: 473rem;
    left: 60rem;
    top: 370rem;
  }
  .flowers_birdofparadise {
    display: none;
  }
  .flowers_buttercup {
    display: none;
  }
  .flowers_lycoris {
    display: none;
  }
  .flowers_lycoris_reflection {
    display: none;
  }
  .flowers_zinnia {
    display: none;
  }
  .flowers_anthurium {
    display: none;
  }
  .info_button {
    display: none;
  }
  .extra_button {
    width: 352rem;
    height: 50rem;
  }
  .title_second {
    font-size: 64rem;
    padding: 0 0 120rem;
  }
  .description_aboutus {
    width: 350rem;
    font-size: 20rem;
    line-height: 28rem;
  }
  .description_aboutus p {
    margin-bottom: 40rem;
  }
  .background-gradient_div {
    padding-top: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 700rem;
    min-height: 360rem;
    overflow: hidden;
  }
  .background-gradient {
    width: 100%;
    height: 600rem;
    background: radial-gradient(
      ellipse at center,
      rgba(255, 93, 0, 0.8) 0%,
      rgba(255, 93, 0, 0.5) 20%,
      rgba(0, 0, 0, 0.7) 80%
    );
  }
  .aboutus {
    align-items: center;
    min-height: 1000rem;
    margin-top: 700rem;
    padding: 80rem 0 60rem;
  }
  .aid_description {
    display: none;
  }
  .check_list_section {
    margin-top: -110rem;
    height: 800rem;
    width: 414rem;
    overflow: hidden;
    padding: 90rem 0;
    font-size: 16rem;
  }
  .list_frame {
    width: 360rem;
    height: 470rem;
    padding: 30rem 50rem;
  }
  .glossary {
    padding: 120rem 10rem;
  }
  .title_third {
    text-align: center;
  }
  .carousel_item_non {
    display: none;
  }
  .active {
    margin-left: 20rem;
    width: 90%;
    justify-content: center;
  }
}
