<footer class="SO_footerLinks">
  <ul class="C_Author">
    <li class="A_elList">Автор:<a href=""> @dem_yank</a></li>
    <li class="A_elList">
      Медиа-сервис Karambol создан в рамках ОП Дизайн и программирование на базе
      Школы Дизайна НИУ ВШЭ
    </li>
  </ul>

  <div class="W_Contacts">
    <ul class="C_contactMedia">
      <li class="A_elList">Медиа</li>
      <li class="A_elList"><a href=""><span class="A_mediaPrefix">Рилсы: </span>karambol_plants</a></li>
      <li class="A_elList"><a href=""><span class="A_mediaPrefix">Лайф: </span>@karambol_info</a></li>
      <li class="A_elList"><a href="">Дзен: karambol</a></li>
    </ul>
    <ul class="C_Suggestions">
      <li class="A_elList">Ваши предложения</li>
      <li class="A_elList"><a href="">@dem_yank</a></li>
      <li class="A_elList"><a href="">catherinedemyanets@yandex.ru</a></li>
    </ul>
    <ul class="C_Tutors">
      <li class="A_elList">Кураторы проекта:</li>
      <li class="A_elList">Комкова Анна</li>
      <li class="A_elList">Зародина Дарья</li>
    </ul>
  </div>

  <p class="A_footerTextMobile">
    Медиа-сервис Karambol предоставляет информационные услуги на некоммерческой основе и создан в рамках ОП Дизайн и программирование на базе Школы Дизайна НИУ ВШЭ
  </p>
</footer>
