html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Gramatika Regular";
  src: url(fonts/fa575a2226c4b00b21b0.ttf);
}
@font-face {
  font-family: "Gramatika Medium";
  src: url(fonts/111c419b0b22d0258dda.ttf);
}
@font-face {
  font-family: "Pompeji";
  src: url(fonts/a50b74f831ec518ecd70.otf);
}

* {
  box-sizing: border-box;
}
html {
  font-size: calc(1vw / 14.4);
  scroll-behavior: smooth;
}
body {
  background-color: black;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
.title_h1 {
  align-self: center;
  justify-self: end;
  font-size: 200rem;
  font-family: "Pompeji", Arial, sans-serif;
  color: white;
}
.title_h2 {
  font-size: 40rem;
  font-family: "Gramatika Medium", Arial, sans-serif;
  color: white;
}
.title_h3 {
  font-size: 32rem;
  font-family: "Gramatika Medium", Arial, sans-serif;
  color: white;
}
.title_h4 {
  font-size: 25rem;
  font-family: "Gramatika Medium", Arial, sans-serif;
  color: black;
}
.title_h5 {
  font-size: 20rem;
  font-family: "Gramatika Regular", Arial, sans-serif;
  color: white;
}
.section_p {
  line-height: 1.35;
  font-size: 20rem;
  font-family: "Gramatika Regular", Arial, sans-serif;
  color: white;
}
.transition {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.header {
  display: flex;
  flex-direction: column;
  background-image: url(55f5d1dd311d2f252b06.webp);
  background-size: contain;
  background-repeat: no-repeat;
  gap: 250rem;
  padding: 50rem 53rem;
  min-height: 887rem;
}
.menu-wrapper {
  position: fixed;
  z-index: 5;
}
.header_menu {
  position: fixed;
  padding: 6rem 350rem 0;
  min-height: 40rem;
  width: 1340rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}
.header_menu_visible {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 6rem 350rem 0;
  min-height: 40rem;
  width: 1340rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20rem;
}
.header_menu_button {
  position: fixed;
  right: 50rem;
  width: 40rem;
  min-height: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url(images/514d7c0c1517c8e93ae4.svg);
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}
.menu-wrapper.scrolled .header_menu_button {
  opacity: 1;
  visibility: visible;
}
.menu-wrapper.is-active .header_menu {
  opacity: 1;
  visibility: visible;
}
.menu-wrapper.is-active .header_menu_button {
  opacity: 0;
  visibility: hidden;
}
.header__links-list {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, min-content);
  list-style: none;
  gap: 50rem;
  font-size: 20rem;
  font-family: "Gramatika Regular", Arial, sans-serif;
}
.header__links-item {
  white-space: nowrap;
}
.header__link {
  text-decoration: none;
  color: white;
}
.team {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.team_name {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: start;
  gap: 19.68rem;
  width: 154rem;
  min-height: 40rem;
  opacity: 75%;
}
.team_discription {
  font-size: 20rem;
  font-family: "Gramatika Regular", Arial, sans-serif;
  color: white;
}
.team_logo {
  width: 48.32rem;
}
.button {
  width: 250rem;
  min-height: 50rem;
  font-size: 20rem;
  font-family: "Gramatika Regular", Arial, sans-serif;
  border-radius: 25rem;
  border: none;
  padding-bottom: 5rem;
  cursor: pointer;
}
.extra_button {
  justify-self: end;
  color: white;
  background-color: #898280;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120rem 0;
  gap: 120rem;
}
.first_help_banner {
  display: grid;
  grid-template-columns: 414rem 1fr;
  grid-template-rows: repeat(3, min-content);
  row-gap: 24rem;
  width: 1337rem;
  min-height: 329rem;
  border-radius: 30rem;
  background-image: url(14f3c0091f28a9f080a1.webp);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 40rem 40rem 31rem;
}
.first_help_banner_title {
  grid-column: 1;
  grid-row: 1 / 2;
}
.first_help_banner_p {
  grid-column: 1;
  grid-row: 2 / 3;
  padding-bottom: 46rem;
}
.button_learn_more {
  grid-column: 1;
  grid-row: 3 / 4;
  background-color: #ff5e00;
  color: white;
}
.first_help_img {
  grid-column: 2;
  grid-row: 1 / 4;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.glossary_area {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.area_article_title {
  align-self: start;
  padding-left: 50rem;
  padding-bottom: 55rem;
}
.area_article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  padding: 55rem 50rem;
  gap: 28rem;
  width: 100%;
  min-height: 368rem;
  background-image: url(b48e42cff1a022f8f2ee.webp);
  background-size: contain;
  background-repeat: no-repeat;
}
.article_title {
  grid-row: 1 / 2;
}
.article_disciption {
  grid-row: 2 / 3;
  padding-bottom: 42rem;
}
.article_button {
  background-color: #ff5e00;
  color: white;
}
.cards_list_area {
  display: flex;
  align-self: center;
  flex-direction: column;
  gap: 40rem;
}
.card_list {
  display: flex;
  padding-top: 80rem;
  overflow: hidden;
  flex-wrap: nowrap;
  gap: 20rem;
  width: 1340rem;
  min-height: 290rem;
}
.card_list_item {
  display: flex;
  flex-direction: column;
}
.card_list_description {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  padding: 15rem 15rem 20rem;
  gap: 15rem;
  border-top-right-radius: 20rem;
  border-bottom-left-radius: 20rem;
  background-color: white;
}
.card_list_img {
  width: 320rem;
}
.card_list_tegs {
  display: flex;
  justify-content: start;
  gap: 8rem;
  grid-row: 1 / 2;
}
.card_list_teg {
  width: 111rem;
  min-height: 26rem;
  font-size: 15rem;
  font-family: "Gramatika Regular", Arial, sans-serif;
  border-radius: 15.5rem;
  border: none;
  padding-bottom: 5rem;
  background-color: #ff5e00;
  color: white;
}
.card_list_teg_white {
  border: 1.5rem solid #ff5e00;
  background-color: white;
  color: #ff5e00;
}
.card_list_title {
  grid-row: 2 / 3;
}
.card_list_time {
  grid-row: 3 / 4;
  font-size: 15rem;
  font-family: "Gramatika Regular", Arial, sans-serif;
  color: #ff5e00;
}
.card_list_swape {
  display: flex;
  align-self: center;
  justify-content: space-between;
  gap: 20rem;
  width: 100rem;
}
.card_list_swape_button {
  width: 40rem;
  min-height: 40rem;
  border-radius: 20rem;
  border: none;
  background-color: white;
  cursor: pointer;
}
.card_list_swape_left {
  background-image: url(images/85fe99382d13ca10f54f.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.card_list_swape_right {
  background-image: url(images/c0729a18cb4dca97cd56.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.ticket_area {
  display: grid;
  grid-template-columns: min-content 573rem 1fr;
  grid-template-rows: repeat(3, 1fr);
  padding-right: 50rem;
  column-gap: 20rem;
  width: 1341rem;
  min-height: 408rem;
  background-image: url(2f00cf40b713677a8d45.webp);
  background-size: contain;
  background-repeat: no-repeat;
}
.ticket_area_img {
  grid-column: 1;
  grid-row: 1 / 4;
  width: 434rem;
}
.ticket_area_chooseus {
  grid-column: 2;
  grid-row: 1 / 2;
  opacity: 70%;
  padding-top: 101rem;
}
.ticket_area_title {
  grid-column: 2;
  grid-row: 2 / 3;

  padding-top: 30rem;
}
.ticket_area_discription {
  grid-column: 2;
  grid-row: 3 / 4;
}
.ticket_area_icon {
  grid-column: 3;
  grid-row: 1 / 2;
  justify-self: end;
  padding-top: 50rem;
  width: 48rem;
}
.tests_area {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.area_tests {
  background-image: url(48969acc48e92aa037ae.webp);
}
.tests {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 60rem 50rem 0;
  row-gap: 25rem;
  column-gap: 25rem;
}
.card_list_description_test {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, min-content);
  padding: 15rem 15rem 20rem;
  gap: 15rem;
  border-radius: 20rem;
  background-color: white;
}
.test_first {
  grid-column: 1;
  grid-row: 1 / 2;
}
.test_second {
  grid-column: 1;
  grid-row: 2 / 3;
}
.test_third {
  grid-column: 2;
  grid-row: 1 / 2;
}
.test_fourth {
  grid-column: 2;
  grid-row: 2 / 3;
}
.tests_area_button {
  position: relative;
  right: -235rem;
  bottom: -55rem;
  grid-column: 2;
  grid-row: 1 / 3;
  width: 100rem;
  min-height: 100rem;
  border-radius: 50%;
  border: none;
  background-image: url(images/ddaa69e03a035f740788.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.risks_map_area {
  display: flex;
  flex-direction: column;
  padding: 0 50rem;
  gap: 50rem;
}
.map_area {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr min-content;
  width: 1341rem;
  min-height: 452rem;
  background-color: white;
  border-radius: 20rem;
}
.map_area_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.button_map_area {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  z-index: 2;
  transform: translate(-28rem, -28rem);
}
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 37rem;
  padding-bottom: 37rem;
}
.footer_area {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 340rem;
  grid-template-rows: 1fr min-content;
  padding: 75rem 50rem 55rem;
  background-image: url(35731fba3394fb4fc4c8.webp);
  background-size: contain;
  background-repeat: no-repeat;
}
.text-wrapper {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 34rem;
}
.text-wrapper_title {
  font-family: Gramatika Regular;
  color: white;
  font-size: 25rem;
}
input[type="email"] {
  width: 433rem;
  height: 50rem;
  border-radius: 100rem;
  border: 2rem solid white;
  padding: 5rem 30rem;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: Gramatika Regular;
  color: white;
  font-size: 20rem;
}
input[type="email"]::placeholder {
  font-family: "Gramatika Regular", Arial, sans-serif;
  color: rgba(238, 238, 238, 0.75);
  font-size: 20rem;
}
#my-form {
  display: flex;
  gap: 18rem;
}
#my-form-button {
  width: 250rem;
  min-height: 50rem;
  font-size: 20rem;
  font-family: "Gramatika Regular", Arial, sans-serif;
  border-radius: 25rem;
  border: none;
  background-color: white;
  color: #000;
  cursor: pointer;
}
#my-form-status {
  font-family: "Gramatika Regular", Arial, sans-serif;
  color: white;
  font-size: 20rem;
  text-align: center;
}
.social-list {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  padding-top: 20rem;
  align-self: end;
  display: flex;
  justify-content: space-between;
  gap: 50rem;
  list-style: none;
  padding: 0;
}
.social-icon {
  display: block;
  height: auto;
  width: 80rem;
  max-width: 100%;
}
.footer_discription {
  align-self: start;
  padding-left: 50rem;
  color: rgba(255, 255, 255, 0.5);
}
.footer_discription_link {
  color: rgba(255, 255, 255, 0.5);
}

.header_menu_aboutus {
  position: fixed;
  left: 50rem;
  top: 50rem;
  padding: 6rem 350rem 0;
  min-height: 40rem;
  width: 1340rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20rem;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  opacity: 0;
  visibility: hidden;
}
.header_menu_button_aboutus {
  position: fixed;
  top: 50rem;
  right: 50rem;
  width: 40rem;
  min-height: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url(images/514d7c0c1517c8e93ae4.svg);
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  opacity: 1;
  visibility: visible;
}
.menu-wrapper:hover .header_menu_button_aboutus {
  opacity: 0;
  visibility: hidden;
}
.menu-wrapper:hover .header_menu_aboutus {
  opacity: 1;
  visibility: visible;
}
.main_aboutus {
  display: grid;
  grid-template-columns: repeat(2, 690rem);
  grid-template-rows: 340rem 220rem 1fr;
  column-gap: 55rem;
  padding: 20rem 20rem 80rem;
}
.main_aboutus_background {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  width: 1400rem;
}
.aboutus_logo {
  padding: 45rem 0 220rem 147rem;
  min-height: 72rem;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  gap: 26rem;
}
.aboutus_logo_img {
  width: 82.66rem;
}
.aboutus_logo_discription {
  width: 356rem;
}
.aboutus_information {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 103rem;
  padding-left: 40rem;
}
.aboutus_appeals {
  display: flex;
  gap: 40rem;
}
.section_p_aboutus {
  line-height: 1.35;
  font-size: 18rem;
  font-family: "Gramatika Regular", Arial, sans-serif;
  color: white;
}
.section_p_aboutus_appeals {
  padding-top: 10rem;
}
.aboutus_appeals_title {
  font-size: 64rem;
  font-family: "Gramatika Medium", Arial, sans-serif;
  color: white;
}
.aboutus_ident {
  display: flex;
  width: 569rem;
}
.liner {
  position: relative;
  rotate: 90deg;
  min-height: 84.5rem;
  top: -27rem;
  border: 1rem solid white;
}
.aboutus_discription {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  width: 542rem;
  display: flex;
  flex-direction: column;
  gap: 20rem;
  padding-top: 85rem;
}
.abourus_underline {
  text-decoration: underline;
  color: white;
}
.footer_area_aboutus {
  padding-bottom: 48rem;
}
.button_riskmap {
  top: 50rem;
  left: 50rem;
}
.riskmap_section {
  display: grid;
  grid-template-columns: 1fr 888rem;
}
.riskmap_discription {
  display: grid;
  align-items: end;
  grid-template-rows: min-content 160rem min-content min-content;
  padding: 135rem 50rem 50rem;
  gap: 30rem;
}
.riskmap_title {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}
.riskmap_form {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  width: 452rem;
  background-color: #2d2d2d;
  border-radius: 10rem;
  padding: 10rem 13rem 5rem;
}
.riskmap_flowers {
  grid-row: 2 / 3;
}
.riskmap_dangerlevel {
  grid-row: 3 / 4;
}
.riskmap_vet {
  grid-row: 4 / 5;
}
.riskmap_discription_carefully {
  grid-row: 5 / 6;
  font-size: 14rem;
  font-family: "Gramatika Regular", Arial, sans-serif;
  color: white;
  opacity: 50%;
}
.riskmap_form_option {
  display: flex;
  flex-wrap: wrap;
  row-gap: 6rem;
  column-gap: 10rem;
  padding-bottom: 7rem;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
.chip-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  padding: 3rem 5rem 8rem;
  background-color: transparent;
  border-radius: 40rem;
  font-size: 15rem;
  font-family: "Gramatika Regular", Arial, sans-serif;
  color: white;
  line-height: 1;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.chip-label:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
.chip-icon {
  position: relative;
  top: 2rem;
  width: 14rem;
  height: 14rem;
}
input[type="radio"]:checked + .chip-label {
  background-color: #ff5e00;
  color: white;
}
.riskmap_map {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding: 21rem;
  gap: 16rem;
  width: 100%;
  min-height: 900rem;
  background-image: url(9e6cea3925180a2729d1.webp);
  background-size: contain;
  background-repeat: no-repeat;
}
.riskmap_map_button {
  display: flex;
  flex-direction: column;
  padding: 12rem 11rem;
  gap: 20rem;
  width: 48rem;
  min-height: 80rem;
  background-color: white;
  border-radius: 7rem;
  border: none;
}
.enlarge_the_map {
  cursor: pointer;
}
.zoom_out_the_map {
  cursor: pointer;
}
.riskmap_map_nav {
  width: 48rem;
  min-height: 48rem;
  padding: 10rem;
  background-color: white;
  border-radius: 7rem;
  border: none;
  cursor: pointer;
}
.riskmap_map_nav_img {
  width: 100%;
}



